<style>
  :host {
    max-width: 100%;
  }

  .car-card {
    background-color: var(--white);
    color: rgba(var(--light-contrast-rgb), var(--text-opacity));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: grid;
    grid-template-rows: 300px 250px;
    overflow: hidden;
  }
  .car-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }

  .car-card__image-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(var(--light-contrast-rgb), 0.5);
  }

  .car-card__image-wrapper img {
    width: 100%;
    height: auto;
  }

  .car-card__info-list {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.7rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2rem;
  }
  .car-card__info-list p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
</style>
<a href="./car?id={{ car.id }}">
  <section class="car-card">
    <div class="car-card__image-wrapper">
      <img
        src="{{ car.Vehicle.PictureURL }}"
        alt="{{car.Vehicle.VehMakeModel.@Name}}"
      />
    </div>
    <div class="car-card__info-list">
      <p>
        <strong>Make Model:</strong>
        {{car.Vehicle.VehMakeModel.@Name}}
      </p>
      <p>
        <strong>Status:</strong>
        {{car.@Status}}
      </p>
      <p>
        <strong>Price:</strong>
        {{car.TotalCharge.@RateTotalAmount}}
      </p>
      <p>
        <strong>Vendor:</strong>
        {{car.Vendor.@Name}}
      </p>
      <p>
        <strong>Passengers:</strong>
        {{car.Vehicle.@PassengerQuantity}}
      </p>
      <p>
        <strong>Air Condition:</strong>
        {{car.Vehicle.@AirConditionInd}}
      </p>
      <p>
        <strong>Baggage:</strong>
        {{car.Vehicle.@BaggageQuantity}}
      </p>
      <p>
        <strong>Doors:</strong>
        {{car.Vehicle.@DoorCount}}
      </p>
      <p>
        <strong>Drive:</strong>
        {{car.Vehicle.@DriveType}}
      </p>
      <p>
        <strong>Fuel:</strong>
        {{car.Vehicle.@FuelType}}
      </p>
      <p>
        <strong>Transmission:</strong>
        {{car.Vehicle.@TransmissionType}}
      </p>
      <p>
        <strong>Code:</strong>
        {{car.Vehicle.@Code}}
      </p>
      <p>
        <strong>Code Context:</strong>
        {{car.Vehicle.@CodeContext}}
      </p>
    </div>
  </section>
</a>
