<style>
  .legend {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 1rem;
  }
</style>
<section class="legend">
  <div>
    <h3>Pickup</h3>
    <p>
      <strong>Location:</strong>
      {{info.PickUpLocation.@Name}}
    </p>

    <p>
      <strong>Time:</strong>
      {{info.@PickUpDateTime}}
    </p>
  </div>

  <div>
    <h3>Return</h3>
    <p>
      <strong>Location:</strong>
      {{info.ReturnLocation.@Name}}
    </p>

    <p>
      <strong>Time:</strong>
      {{info.@ReturnDateTime}}
    </p>
  </div>
</section>
