:root {
  --header-background: #444444;
  --white: #fff;

  --light: #f4f4f4;
  --light-contrast-rgb: 0, 0, 0;
  --text-opacity: 0.85;
}

html,
body {
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

app-looper {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
}

@media only screen and (min-width: 600px) {
  app-looper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.card-page-content {
  padding: 1rem;
}
